html,
body
{
	height: 100%;
}

.cust-cover
{	
	height: 100%;
	background-color: teal;

	
}

.cir
{
	height: 100px;
	width: 100px;
	background-color:#48af4b ;
	border-radius: 50%;

	position: relative;
    left: -72px;
    top: -21px;
}

.cir-icon
{
	height: 50px;
    width: 50px;
    display: block;
    margin:auto;
    margin-top:25px;
}